---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-app
  labels:
    app: inference-app
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: inference-app
  template: 
    metadata:
      labels:
        app: inference-app
    spec: 
      containers:
        - name: inference-app
          image: 581658239999.dkr.ecr.ap-southeast-1.amazonaws.com/inference-app:latest
          ports: 
            - containerPort: 8000
          livenessProbe: 
            httpGet: 
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 30 
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10 